/*! LANDING PAGE SECTION */
#landing-section {
  width: 100%;
  height: 45rem;
  background: url(./images/ATUSA1.jpg) no-repeat;
  background-position: top;
  background-size: cover;
}

.landing-message {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 0 15%;
  height: 45rem;
}

.landing-message div {
  height: 45rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  text-align: right;
  font-size: 3.5rem;
  color: #ffffff;
}

.landing-message p {
  font-size: 2.4rem;
  font-weight: bolder;
}

/*! LANDING PAGE SECTION MEDIA QUERIES*/

@media (max-width: 1118px) {
  .landing-message {
    padding: 0 1.2rem;
  }
  .landing-message div {
    font-size: 4rem;
  }
}

@media (max-width: 810px) {
  .landing-message div {
    font-size: 3.4rem;
  }
}

@media (max-width: 600px) {
  .landing-message div {
    font-size: 2.4rem;
  }
}

/*! TEXT SECTION */

#nosotros {
  width: 100%;
  background-position: center;
  background-size: cover;
  background: rgb(245, 249, 253);
  background: linear-gradient(
    180deg,
    rgba(245, 249, 253, 1) 30%,
    rgba(255, 255, 255, 0) 100%
  );
}

.texto {
  padding: 0 15%;
}

.texto div {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.6rem;
  color: #333;
}

.texto h1 {
  text-align: center;
}

.texto h2 {
  font-size: 1.6rem;
  margin-top: 1.8rem;
  text-align: center;
}

.texto p {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.texto ul {
  padding: 0 8%;
}

.texto li p {
  margin-top: 1rem;
}

.text-end {
  padding-bottom: 4rem;
}
/*! TEXT SECTION MEDIA QUERIES*/

@media (max-width: 1118px) {
  .texto {
    padding: 0 1.2rem;
  }
}

@media (max-width: 810px) {
  .texto div {
    font-size: 3.4rem;
  }
}

@media (max-width: 600px) {
  .texto div {
    font-size: 2.4rem;
  }
  .texto p {
    font-size: 1.8rem;
  }
}

@media (max-width: 300px) {
  .texto div {
    font-size: 1.6rem;
  }
  .texto p {
    font-size: 1.4rem;
  }
}

/*! MESSAGE SECTION */
#introduccion-section {
  width: 100%;
  padding: 3rem 0;
  height: 100%;
  background: rgb(245, 249, 253);
  background: linear-gradient(
    0deg,
    rgba(245, 249, 253, 1) 100%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
}

.introduccion-message {
  width: 100%;
  padding: 0 15%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.introduccion-message .texto-message {
  max-width: 80ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: #333;
}

.introduccion-message div .texto-message h1 {
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  font-size: 2.5rem;
  position: relative;
}

.introduccion-message div .texto-message h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  background-color: #e91e63;
  height: 4px;
  box-sizing: border-box;
  width: 10rem;
}

.introduccion-message div .texto-message p {
  font-size: 1.4rem;
  padding: 1rem 0;
}

.introduccion-message div a {
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background-color: #e91e63;
  padding: 1rem 1.25rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(51, 51, 51, 0);
}

.introduccion-message div a:hover,
.introduccion-message div a:focus {
  transition: 0.25s;
  background-color: #ffffff;
  color: #e91e63;
  border: 1px solid #e91e63;
}

.introduccion-message img {
  width: 22rem;
  margin-left: 5rem;
}

/*! MESSAGE SECTION SECTION MEDIA QUERIES */
@media (max-width: 1118px) {
  .introduccion-message {
    padding: 0 1.2rem;
  }
  .introduccion-message .texto-message {
    width: 100%;
  }
  .introduccion-message img {
    margin-left: 6rem;
  }
  .introduccion-message div .texto-message p {
    font-size: 1.2rem;
  }
  .introduccion-message div .texto-message h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 810px) {
  .introduccion-message {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .introduccion-message .texto-message {
    margin: 0;
  }
  .introduccion-message img {
    margin: 0;
  }
  .introduccion-message div p {
    font-size: 1.2rem;
  }
  .introduccion-message div h1 {
    font-size: 1.8rem;
  }
  .introduccion-message div a {
    margin-bottom: 1rem;
  }
}
@media (max-width: 500px) {
  .introduccion-message img {
    width: 16rem;
  }
  .introduccion-message div p {
    font-size: 1.1rem;
  }
  .introduccion-message div h1 {
    font-size: 1.7rem;
  }
}
